.container:after {
  content:"";
  display:table;
  clear:both;
}


body {
	background-color:#fff;
	margin:0px 0px;
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration:none;
	color:#888;
}

a:hover{color:#999;}

.wrapper {
	min-width: 600px;
	max-width: 960px;
	margin: 0px auto;
	overflow:auto;
}

.bg1{
	background-color:#fff;
	overflow:hidden;
	float:left;
	width:100%;
}

.bg2{
	background-color:#eee;

}

header{
	width:100%;
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
	transition: all 0.1s;
}

header:hover{
box-shadow: 0 0 30px 0px #111;
background-color:rgba(255, 255, 255, 0.1);
}

.pagewrapper{
	overflow:auto;
	width:auto;
	height:auto;
	margin: 10px 10px;
	margin: 0px auto;
}

.page{
	float:left;
	padding:10px;
	transition: all 0.1s;
	width:160px;
	text-align:center;
}
.page:hover{
box-shadow: 0 0 30px 0px #111;
background-color:rgba(255, 255, 255, 0.1);
}

#wrap{
	margin: 0px auto;
}

img{
	max-width: 100%;
	height:auto;
	float:left;
}

section{
	float:left;
}

.column{
	width:48%;
	
}

.spacer{
	width:2%;
	height:10px;
}
.smallspace{
	width:1%;
	height:10px;
}

.yspace{
	width: 100%;
	height:20px;
}


.post{
	background-color:#fff;
	border: 1px solid #e8e8e8;
	width:100%;
	height:auto;
	margin:25px 0px;
	overflow:auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#filler{
	float:left;
	width:100%;
	overflow:auto;
}

.description {
	float:left;
	padding:30px;
	padding-bottom:10px;
}
.datestamp {
	float:left;
	padding-left:20px;
}

.authorstamp {
	float:right;
	text-align:right;
	padding-right:20px;
}

.footer{
	text-align:center;
	padding:20px;
	
}

stamptext {
font-family: helvetica, arial;
font-size: 13pt;
color: #e1e1e1;
line-height: 120%;
}

bodytext {
font-family: helvetica, arial;
font-size: 13pt;
color: #aaa;
line-height: 120%;
}

titletext {
font-family: lobster, arial;
text-shadow: 1px 1px #000;
font-size: 40px;
color: #fff;
line-height: 120%;
}


#comment {
	overflow: hidden;
}
	#comment label[for] {
		display: none;
	}
	#comment p {
		float: left;
		width: 48%;
		margin-right: 4%;
		margin-bottom: 10px;

		text-indent: 0;
	}
		#comment p + p {
			margin-right: 0;
		}
		#comment p.textarea {
			float: none;
			width: 100%;
		}
	#comment input, #comment textarea {
		width: 100%;
		padding: 10px 15px;

		font-size: 15px;
		font-weight: normal;

		border: 1px solid rgba(22,36,54,.2);
		border-radius: 4px;
	}
		#comment input:focus, #comment textarea:focus {
			outline: none;
			background: #f7f9fc;
		}
		#comment textarea {
			min-height: 150px;
			max-height: 800px;
			resize: vertical;
		}
	#comment button {
		display: inline-block;
		padding: 9px 18px;

		background: #4e82ce;
		color: #fff;

		border: none;
		border-radius: 5px;
		cursor: pointer;

		font-size: 13px;
		font-weight: 500;
	}
		#comment button:hover {
			background: #3c6eb7;
		}
		
		.fiftyfifty{
		float:left;
			width:50%;
			padding-bottom:20px;
		}
		
.commentbox{
	padding:20px;
	
}
